@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pete's Petting Zoo</h1>
    <p class="lead">Welcome!</p>
</div>

<@*script type="text/javascript" src=("@Url.Content="~/scripts/jquery-1.10-2.js")"></script>
<script type="text/javascript" src=("@Url.Content ="~/scripts/jquery.unobtrusive-ajax.min.js")"></script>
@Styles.Render("~/Content/css")*@

<body>
    <img src="~/Content/image/alpaca.jpg" 
    style="width:886px; height:506px;"/>
</body>

@*<div id="="SlideshowImages">
<div> <img src="/Content/image/alpaca.jpg" width:"886" height:"506"> </div>
<div> <img src="/Content/image/flamingo.jpg" width:"900" height:"675"> </div>
<div> <img src="/Content/image/emu.jpg" width:"700" height:"466"> </div>
<div> <img src="/Content/image/cicada.jpg" width:"600" height:"400"> </div>
<div> <img src="/Content/image/moonbear.jpg" width:"450" height:"600"> </div>
<div> <img src="/Content/image/macaque.jpg" width:"920" height:"612"> </div>
<div> <img src="/Content/image/dolphin.jpg" width:"1000" height:"667""> </div>
</div>

<style type="text/css" style="display: none !important;">
    #SlideshowImages {
        margin: 50px auto;
        position: relative;
        width: 600px;
        height: 600px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

        #SlideshowImages > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
</style>

<script type="text/javascript">

    $(document).ready(function()
    {
        $("#slideshow > div:gt(0)").hide();
        setInterval(function()
        {
            $('#SlideshowImages > div:first').fadeOut(3000).next().fadeIn(3000).end().appendTo('#SlideshowImages');
        }, 3000);
    });
</script>*@