@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pete's Petting Zoo</h1>
    <p class="lead">Welcome to Pete's Petting Zoo! </p>
</div>

<body>
    <img src="~/Content/image/alpaca.jpg" 
    style="width:886px; height:506px;" />
</body>

@*pictures for timed slideshow*@

        @*<img src="~/Content/image/alpaca.jpg">
        style="width:886px; height:506px;" />

        <img src="~/Content/image/flamingo.jpg">
        style="width:900px; height:675px;" />
        
        <img src="~/Content/image/tigershark.jpg">
        style="width:750px; height:499px;" />

        <img src="~/Content/image/emu.jpg">
        style="width:700px; height:466px;" />

        <img src="~/Content/image/cicada.jpg">
        style="width:600px; height:400px;" />

        <img src="~/Content/image/moonbear.jpg">
        style="width:450px; height:600px;" />

        <img src="~/Content/image/macaque.jpg">
        style="width:920px; height:612px;" />

        <img src="~/Content/image/dolphin.jpg">
        style="width:1000px; height:667px;" />*@
