
@{
    ViewBag.Title = "Map";
}

<h2>Pete's Petting Zoo</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
    <h3>5100 S. 76th Street</h3>
    <h4>Greendale, WI 53129</h4>
    <div id="map"></div>
    <script>
     function initMap() {
         var uluru = { lat: 42.951596, lng: -88.007835 };
       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 18,
         center: uluru
       });
       var marker = new google.maps.Marker({
         position: uluru,
         map: map
       });
     }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGSPA7e_FCyCUuPEAmsTVvBEJpJsy3IZ0&callback=initMap">
    </script>
</body>
</html>