@model IEnumerable<PetesPettingZoo.Models.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Animals at the Zoo</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnimalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalType)
        </td>
    </tr>
}

</table>
