@model IEnumerable<PetesPettingZoo.Models.OpenDays>

@{
    ViewBag.Title = "Index";
}

<h2>Days We Are Open</h2>


<table class="table">

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
        </tr>
    }

</table>
<h5>Hours of Operation: 8am - 7pm</h5>
</table>
