@model PetesPettingZoo.Models.ViewModels.SchduleViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Days We Are Open</h2>


<table class="table">

    @foreach (var item in Model.Days) {
        <tr>
            <td>
                @item.Day.Month / @item.Day.Day /@item.Day.Year
            </td>
        </tr>
    }
    
</table>
<table>
    <th>
        Today's Weather : @Model.Weather[2];
    </th>
</table>

<center><h5>Hours of Operation: 8am - 7pm</h5></center>
